@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html, body {height: 100%;}
#LoginStyle{
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
::selection{
  background: #fa4299;
  color: #fff;
}

#LoginStyle .wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
#LoginStyle .wrapper .title-text{
  display: flex;
  width: 200%;
}
#LoginStyle .wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#LoginStyle .wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
#LoginStyle .slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
#LoginStyle .slide-controls label.signup{
  color: #000;
}
#LoginStyle .slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#LoginStyle input[type="radio"]{
  display: none;
}
#LoginStyle #signup:checked ~ .slider-tab{
  left: 50%;
}
#LoginStyle #signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#LoginStyle #signup:checked ~ label.login{
  color: #000;
}
#LoginStyle #login:checked ~ label.signup{
  color: #000;
}
#LoginStyle #login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
#LoginStyle .wrapper .form-container{
  width: 100%;
  overflow: hidden;
}

#LoginStyle .form-container .form-inner{
  display: flex;
  /* changvaluehearbro */
  width: 300%;
}

#LoginStyle .form-container .form-inner .loginInsideForm{
  width: 33.3333333333333%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}


#LoginStyle .form-container .form-inner .signup{
  width: 33.3333333333333%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

#LoginStyle .form-inner .loginInsideForm .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
 .form-inner .loginInsideForm .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
#LoginStyle .form-inner .loginInsideForm .field input:focus{
  border-color: #fc83bb;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
#LoginStyle .form-inner .loginInsideForm .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
#LoginStyle form .field input:focus::placeholder{
  color: #b3b3b3;
}
#LoginStyle .form-inner .loginInsideForm .pass-link{
  margin-top: 5px;
}
#LoginStyle .form-inner .loginInsideForm .signup-link{
  text-align: center;
  margin-top: 30px;
}
#LoginStyle .form-inner .loginInsideForm .pass-link a,
#LoginStyle .form-inner .loginInsideForm .signup-link a{
  color: #fa4299;
  text-decoration: none;
}
#LoginStyle .form-inner .loginInsideForm .pass-link a:hover,
#LoginStyle .form-inner .loginInsideForm .signup-link a:hover{
  text-decoration: underline;
}
#LoginStyle .loginInsideForm .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
#LoginStyle .loginInsideForm .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
  border-radius: 5px;
  transition: all 0.4s ease;
}
#LoginStyle .loginInsideForm .btn:hover .btn-layer{
  left: 0;
}
#LoginStyle .loginInsideForm .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

#LoginStyle .loginInsideForm .btn input[type="button"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginInsideForm  .offscreen {
  font-size: 0px!important;
  transition: all 0.4s ease-in-out;
}

.loginInsideForm .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
  transition: all 0.4s ease-in-out;
}
.loginInsideForm .valid {
  color: limegreen;
  position:static;
  margin-left: -2rem;
  margin-top: 15px;
  pointer-events: none;
}

.loginInsideForm .invalid {
  color: red;
  position:static;
  margin-left: -2rem;
  margin-top: 15px;
  pointer-events: none;
}